pug/index.pug
doctype html
html
  head(lang="es")
    title MILITARY
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    // if lt IE 9
      script(type="text/javascript", src="js/html5shiv.js")
    link(rel="icon",type="image/png",href="images/favicon.png")
    link(rel="stylesheet", href="css/styles.css", type="text/css")
  body
    .Page
      img.Logo-mobile(src="images/logo.png")
      .Lateral
        img.Lateral-hamburguer(src="images/hamburguer.png")
      .HeaderMobile
        img.HeaderMobile-logo(src="images/logo.png")
        .HeaderMobile-ToggleMenu
          img(src="images/toggle-menu.png")
      header.Header
        .Logo
          img(src="images/logo.png")
        nav.Nav
          ul.ed-menu.nav-bar.tablet-horizontal
            li: a.home.active(href="#Home") HOME
            li: a.about(href="#About") ABOUT US
            li: a.products(href="#Products") PRODUCTS
            li: a.materials(href="#Materials") MATERIALS & CERTIFICATIONS
            li: a.corporate(href="#Corporate") CORPORATE SOCAL RESPONSABILITY
            li: a.contact(href="#Contact") CONTACT US


      section.Container
        .Container-paginas
          include home.pug
          include about.pug
          include products.pug
          include materials.pug
          include corporate.pug
          include contact.pug


      footer.Footer
        .Footer-container
          .Footer-direccion1
            p <b>Factory address:</b> Jirón Pancho Fierro 3541 - Los Olivos / <b>Phone number:</b> (511) 535-4265
          .Footer-direccion2
            p <b>Office address:</b> Av. Boulevard  594 - San Borja / <b>Phone number:</b> (511) 436-2554
    script(src="js/jquery-1.12.4.min.js")
    script(src="js/jquery-ui.min.js")
    script(src="js/jquery.flip.min.js")
    script(src="js/jquery.flexslider-min.js")
    script(src="js/jquery.validate.js")
    script(src="js/modernizr-custom.js")
    script(type="text/javascript", src="js/main.js?1.5")

dist/index.html
<!DOCTYPE html>
<html>
  <head lang="es">
    <title>MILITARY</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- if lt IE 9script(type="text/javascript", src="js/html5shiv.js")
    -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
  </head>
  <body>
    <div class="Page"><img class="Logo-mobile" src="images/logo.png">
      <div class="Lateral"><img class="Lateral-hamburguer" src="images/hamburguer.png"></div>
      <div class="HeaderMobile"><img class="HeaderMobile-logo" src="images/logo.png">
        <div class="HeaderMobile-ToggleMenu"><img src="images/toggle-menu.png"></div>
      </div>
      <header class="Header">
        <div class="Logo"><img src="images/logo.png"></div>
        <nav class="Nav">
          <ul class="ed-menu nav-bar tablet-horizontal">
            <li><a class="home active" href="#Home">HOME</a></li>
            <li><a class="about" href="#About">ABOUT US</a></li>
            <li><a class="products" href="#Products">PRODUCTS</a></li>
            <li><a class="materials" href="#Materials">MATERIALS & CERTIFICATIONS</a></li>
            <li><a class="corporate" href="#Corporate">CORPORATE SOCAL RESPONSABILITY</a></li>
            <li><a class="contact" href="#Contact">CONTACT US</a></li>
          </ul>
        </nav>
      </header>
      <section class="Container">
        <div class="Container-paginas">
          <div class="Container-pagina Home">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo">HOME</h1>
            </div>
            <div class="Container-interno">
              <div class="ed-container main-end">
                <div class="ed-item l-40">
                  <h1 class="Home-titulo">THE PARTNER YOUR BUSINESS NEEDS FOR TACTICAL GEAR <img src="images/logo-peque.png"></h1>
                  <p class="Home-parrafo">Militaria is the biggest Peruvian Corporation in export of worldclass military backpacks, bags, vests or clothes. <b>You name it, we make it.</b></p>
                </div>
              </div>
            </div>
          </div>
          <div class="Container-pagina About PaddingMobile">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo">ABOUT US</h1>
            </div>
            <div class="Container-interno">
              <div class="Franja">
                <div class="Franja-container">
                  <div class="Franja-item">
                    <h1 class="Franja-texto">MILITARIA'S CODE</h1><img class="Franja-imagen" src="images/mas.png" data-toggle="About">
                  </div>
                </div>
              </div>
              <div class="Full">
                <div class="Full-container">
                  <div class="ed-container">
                    <div class="ed-item"><img class="Full-minimiza desde-l" src="images/minimizar.png" data-toggle="About">
                      <h1 class="About-titulo">MILITARIA'S CODE</h1>
                      <div class="About-fila">
                        <div class="About-columna">
                          <div class="About-cart"><span class="Marco-top"></span>
                            <div class="About-front front"><img src="images/experience.png"></div>
                            <div class="About-back back">
                              <h2 class="About-backTitulo">EXPERIENCE</h2>
                              <p class="About-backParrafo">Exceeding all queality expectations since 2005.</p>
                            </div><span class="Marco-bottom"></span>
                          </div>
                        </div>
                        <div class="About-columna">
                          <div class="About-cart"><span class="Marco-top"></span>
                            <div class="About-front front"><img src="images/experience.png"></div>
                            <div class="About-back back">
                              <h2 class="About-backTitulo">INTEGRITY</h2>
                              <p class="About-backParrafo">We are driven by Ethics, Honesty and Reliaility.</p>
                            </div><span class="Marco-bottom"></span>
                          </div>
                        </div>
                        <div class="About-columna">
                          <div class="About-cart"><span class="Marco-top"></span>
                            <div class="About-front front"><img src="images/commitment.png"></div>
                            <div class="About-back back">
                              <h2 class="About-backTitulo">COMMITMENT</h2>
                              <p class="About-backParrafo">Our insignia</p>
                            </div><span class="Marco-bottom"></span>
                          </div>
                        </div>
                        <div class="About-columna">
                          <div class="About-cart"><span class="Marco-top"></span>
                            <div class="About-front front"><img src="images/improvement.png"></div>
                            <div class="About-back back">
                              <h2 class="About-backTitulo">IMPROVENMENT</h2>
                              <p class="About-backParrafo">Because everything can always be done better.</p>
                            </div><span class="Marco-bottom"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Container-pagina Products PaddingMobile">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo"> PRODUCTS</h1>
            </div>
            <div class="Container-interno">
              <div class="Franja">
                <div class="Franja-container">
                  <div class="Franja-item">
                    <h1 class="Franja-texto">PRODUCTS</h1><img class="Franja-imagen" src="images/mas.png" data-toggle="Products">
                  </div>
                </div>
              </div>
              <div class="Full">
                <div class="Full-container"><img class="Full-minimiza desde-l" src="images/minimizar.png" data-toggle="Products"><img class="Full-minimiza-products" src="images/minimizar.png" data-toggle="Products">
                  <div class="Products-lista">
                    <div class="Products-listaContainer"><span class="Marco-top"></span>
                      <ul>
                        <li><a href="#">CASES</a></li>
                        <li><a class="active" href="#">BACKPACKS</a></li>
                        <li><a href="#">VESTS</a></li>
                      </ul><span class="Marco-bottom"></span>
                    </div>
                  </div>
                  <div class="Products-contenido">
                    <div class="ed-container">
                      <div class="ed-item">
                        <div class="Products-fila">
                          <div class="Products-columna">
                            <div class="Products-slider">
                              <div class="flexslider">
                                <ul class="slides">
                                  <li><img src="images/mochila.jpg"></li>
                                  <li><img src="images/mochila.jpg"></li>
                                  <li><img src="images/mochila.jpg"></li>
                                  <li><img src="images/mochila.jpg"></li>
                                  <li><img src="images/mochila.jpg"></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="Products-columna">
                            <div class="Products-detalle">
                              <div class="Products-detalleCabezera">
                                <h2 class="Products-detalleTitulo">BACKPACKS N1</h2>
                                <div class="Products-detalleFlechas"><a class="izquierda" href="#">◄</a><a class="derecha" href="#">►</a></div>
                              </div>
                              <p class="Products-parrafo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</p>
                              <ul class="Products-descripcion">
                                <li>Descripcion 1: Sed at imperdiet ante.</li>
                                <li>Descripcion 1: Sed at imperdiet ante.</li>
                                <li>Descripcion 1: Sed at imperdiet ante.</li>
                              </ul>
                            </div>
                          </div>
                          <div class="Products-columna">
                            <div class="Products-detalleLista">
                              <ul>
                                <li><a href="#">CASES</a></li>
                                <li><a class="active" href="#">BACKPACKS</a></li>
                                <li><a href="#">VESTS</a></li>
                              </ul>
                            </div>
                            <div class="Products-galeria">
                              <div class="Products-grid">
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                                <div class="Products-box"><img src="images/mochila-mini.png"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Container-pagina Materials PaddingMobile">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo">MATERIALS</h1>
            </div>
            <div class="Container-interno">
              <div class="Franja">
                <div class="Franja-container">
                  <div class="Franja-item">
                    <h1 class="Franja-texto">MATERIALS</h1><img class="Franja-imagen desde-l" src="images/mas.png" data-toggle="Materials">
                  </div>
                </div>
              </div>
              <div class="Full">
                <div class="Full-container"><img class="Full-minimiza desde-l" src="images/minimizar.png" data-toggle="Materials">
                  <div class="Materials-container">
                    <div class="Materials-item">
                      <div class="Matererial-Parrafo">
                        <p>All Militaria's Gear tactical Nylon products are made using the finest quality Military Spec materials and construccion techniques</p>
                      </div>
                      <div class="Materials-imagenes"><span class="MarcoBlack-top"></span><img src="images/materials/ae.png"><img src="images/materials/coats.png"><img src="images/materials/gerald.png"><img src="images/materials/global.png"><img src="images/materials/kenyon.png"><img src="images/materials/texcel.png"><img src="images/materials/ykk.png"><span class="MarcoBlack-bottom"></span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Container-pagina Corporate PaddingMobile">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo">CORPORATE SOCIAL RESPONSABILITY</h1>
            </div>
            <div class="Container-interno">
              <div class="Franja">
                <div class="Franja-container">
                  <div class="Franja-item">
                    <h1 class="Franja-texto">CORPORATE SOCIAL RESPONSABILITY</h1><img class="Franja-imagen" src="images/mas.png" data-toggle="Corporate">
                  </div>
                </div>
              </div>
              <div class="Full">
                <div class="Full-container"><img class="Full-minimiza desde-l" src="images/minimizar.png" data-toggle="Corporate">
                  <div class="Corporate-container">
                    <div class="Corporate-item"><span class="Marco-top"></span>
                      <p>Fighting for a more sustainable business. Fighting for a more sustainable wolrd. <br> CSR is reflected in our people and processes. It drives our efforts and initiatives to improve continuously at operating safely, efficiently and. It supports the long-term success of Militaria.</p><span class="Marco-bottom"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Container-pagina Contact PaddingMobile">
            <div class="FranjaTop">
              <h1 class="FranjaTop-titulo">CONTACT US</h1>
            </div>
            <div class="Container-interno">
              <div class="Franja">
                <div class="Franja-container">
                  <div class="Franja-item">
                    <h1 class="Franja-texto">CONTACT US</h1><img class="Franja-imagen" src="images/mas.png" data-toggle="Contact">
                  </div>
                </div>
              </div>
              <div class="Full">
                <div class="Full-container"><img class="Full-minimiza desde-l" src="images/minimizar.png" data-toggle="Contact">
                  <div class="Contact-container">
                    <form class="Contact-form" action="enviar.php" method="post">
                      <div class="ed-container Form-group">
                        <div class="ed-item l-50">
                          <input type="text" name="firstName">
                          <label class="Form-label">First Name</label>
                        </div>
                        <div class="ed-item l-50">
                          <input type="text" name="lastName">
                          <label class="Form-label">Last Name</label>
                        </div>
                      </div>
                      <div class="ed-container Form-group">
                        <div class="ed-item">
                          <label class="Form-label">Email Address</label>
                          <input type="text" name="email">
                        </div>
                      </div>
                      <div class="ed-container Form-group">
                        <div class="ed-item">
                          <label class="Form-label">Message</label>
                          <textarea row="4" name="message"></textarea>
                        </div>
                      </div>
                      <div class="ed-container Form-group">
                        <div class="ed-item">
                          <button class="Form-button" type="submit">SUBMIT</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="Footer">
        <div class="Footer-container">
          <div class="Footer-direccion1">
            <p><b>Factory address:</b> Jirón Pancho Fierro 3541 - Los Olivos / <b>Phone number:</b> (511) 535-4265</p>
          </div>
          <div class="Footer-direccion2">
            <p><b>Office address:</b> Av. Boulevard  594 - San Borja / <b>Phone number:</b> (511) 436-2554</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.flip.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/modernizr-custom.js"></script>
    <script type="text/javascript" src="js/main.js?1.5"></script>
  </body>
</html>
